.iconButton {
  display: block;

  .iconWhite {
    opacity: 1;
    transition: opacity 500ms ease-in-out;
  }
  .iconHover {
    opacity: 0;
    transition: opacity 500ms ease-in-out;
  }

  &:hover {
    .iconHover {
      opacity: 1;
      transition: opacity 500ms ease-in-out;
    }
    .iconWhite {
      transition: opacity 500ms ease-in-out;
      opacity: 0;
    }
  }
}
